<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
    id        = "io.cordova.noteme"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    version   = "2.0.0">
<name>Notification</name>
<gap:platform name="android" />

<description>
    DESCRIPTION
</description>
 
<access origin="*"/>
 
<content src="index.html" />  
<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />  

<preference name="loglevel" value="DEBUG" /> 
<preference name='phonegap-version' value='cli-5.1.1' />
<preference name="orientation" value="landscape" />
<preference name="fullscreen" value="false" />
   
</widget>
